.order__container {
    display: flex;
    flex-direction: column;
}
.order__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}
@media screen and (max-width: 550px) {
    .order__content {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 550px) and (max-width: 700px) {
    .order__content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
    .order__content {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .order__content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.order__title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #fafafa;
    padding-left: 5px;
}

.order__checkout {
    display: flex;
    align-items: center;
    padding: 5px;
}

.order__webcame {
    position: absolute;
    top: -2000px;
    margin: 0;
    padding: 0;
    width: 50vh;
    object-fit: contain;
}

.order__capture {
    width: 200px;
    cursor: pointer;
}

@media screen and (orientation: portrait) {
    .order__imgShow {
        width: 100px;
        object-fit: contain;
    }
}

@media screen and (orientation: landscape) {
    /**/
    .order__imgShow {
        width: 100px;
        object-fit: contain;
    }
}

.order__test {
    display: flex;
}
